body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #70B0FB;
    --accentColor: #78818C;
    --accent2Color: #B1C0D4;
    --navbarLink: #2F3742;
}


.mainWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 32px;
    background: #EEF5FF;

}

.contentWrapper {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;

}

@media screen and (max-width: 991px) {
    .mainWrapper {
        padding: 0 16px;
    }
}






