.mobile_description {
  display: none;
  width: 100%;
  text-align: center;
  h4{
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.02em;
  }
  p{
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #78818C;
  }
}

.calculator_container {
  border-radius: 50px;
  background: white;
  margin-bottom: 90px;
  width: 1200px;


  &__description {
    padding: 48px 102px 0 102px;

    h4 {
      font-weight: 400;
      line-height: 38px;
      font-size: 32px;
      margin: 0;
    }

    p {
      height: 48px;
      color: #78818C;
      margin: 16px 0 0 0;
      font-size: 16px;
      letter-spacing: -0.02em;
      line-height: 150%;
      max-width: 715px;
    }
  }

  &__calculator_block {
    padding: 40px 102px 48px 102px;

    display: flex;
    justify-content: space-between;

    .calculator {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      font-size: 18px;
      max-width: 50%;

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        margin-top: 7px !important;
        letter-spacing: -0.02em;
      }

      .exclusive_auto {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;

          p {
            margin: 0;
            margin-top: 2px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            padding: 0;
          }

          img {

          }
        }
      }
    }

    .result {
      max-width: 50%;

      h5 {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        margin: 0;
      }


      h4 {
        margin: 0;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;

        span {

          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #B1C0D4;
        }
      }

      p {
        max-width: 385px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #78818C;
      }

      .additional_info {
        p {
          font-weight: 300;
          font-size: 18px;
          line-height: 24px;
         color: #616F82;
        }

        div {
          display: flex;
          width: 100%;
          justify-content: space-between;

          span{
            font-size: 16px;
          }
        }
      }
    }
  }
}

.loader {
  width: 385px;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 1285px) {
  .calculator_container {
    width: 980px;

    &__description {
      padding: 48px 48px 0 48px;
    }

    &__calculator_block {
      padding: 48px 48px 48px 48px;
    }
  }
}

@media screen and (max-width: 991px) {
  .calculator_container {
    width: 750px;

    &__description {
      padding: 48px 32px 0 32px;
    }

    &__calculator_block {
      padding: 32px 32px 48px 32px;

      .calculator {
        width: 47%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .loader {
    width: 100%;
  }
  .mobile_description {
    display: block;
    max-width: 343px;

  }
  .calculator_container {
    border-radius: 20px;
    max-width: 360px;

    &__description {
      display: none;
    }

    &__calculator_block {
      flex-direction: column;
      gap: 40px;
      padding: 24px 16px;

      .calculator {
        width: 100%;
        max-width: none;
        p{
          font-size: 16px;
        }
      }

      .result {
        max-width: 100%;

        .additional_info{
          p{
            font-size: 16px;
          }
          span{
            font-size: 16px;
          }
        }

        h4 {
          margin-top: 24px;
          text-align: center;
          font-size: 32px;
        }
      }
    }
  }
}

/*



@media screen and (max-width: 767px) {
  .calculator_container {
    max-width: 343px;
    padding: 0;
    width: 100%;

    &__calculator_block {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 80px;

      .result {
        max-width: 100%;

        p {
          max-width: 100%;
        }
      }

      .calculator {
        max-width: 100%;
      }
    }

  }
}*/
