.select_box {

  select {
    width: 485px;
    border-radius: 50px;
    padding: 12px 16px;
    -webkit-appearance: none;
    background-image: url("/SelectInput/open_arrow.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.7em;
    border: 1px solid #B1C0D4;

    /*    &:focus, &:active {
          width: 485px;
          border-radius: 50px;
          padding: 12px 16px;
          -webkit-appearance: none;
          background-image: url("/SelectInput/close_arrow.svg");
          background-repeat: no-repeat;
          background-position: 10px 10px;
          background-size: 0.7em;
          border: 1px solid #B1C0D4;
        }*/

    /* &:focus {
       outline: none;
       background-image: url("/SelectInput/close_arrow.svg");

     }*/


    option {
      height: 50px !important;
      margin: 8px 16px;
      border-radius: 20px;
      font-size: 18px;
    }

  }


}


@media screen and (max-width: 1285px) {
  .select_box {
    select {
      width: 450px;
    }
  }
}

@media screen and (max-width: 991px) {
  .select_box {
    select {
      width: 320px;
    }
  }
}


@media screen and (max-width: 767px) {
  .select_box {
    select {
      width: 311px;
    }
  }
}


/*@media screen and (max-width: 991px){
  .select_box{
    select{
      width: 290px;
    }
  }
}*/

.toggle_switch {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 23px;

}

.toggle_switch_checkbox {
  display: none;
}

.toggle_switch_label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 11px;
  background-color: #CDDBEE;
  cursor: pointer;
  transform: rotateY(180deg);
}

.toggle_switch_inner {
  width: 50%;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 11px;
  transition: margin 0.3s ease-in 0s;
}

.toggle_switch_switch {
  position: absolute;

  top: 1.5px;
  right: 2px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175016);

  transition: all 0.3s ease-in 0s;
}

input:checked + .toggle_switch_label .toggle_switch_inner {
  margin-left: calc(100% - 50%);
}

input:checked + .toggle_switch_label .toggle_switch_switch {
  right: calc(100% - 49%);
}


.menu_container {
  position: relative;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 12px 16px;
    cursor: pointer;
    height: 48px;




    text {
      padding: 0;
      font-size: 14px;
      line-height: 120%;
      color: #B1C0D4;
      margin-bottom: -5px;
    }

    div {
      display: flex;
      align-items: center;
      gap: 12px;

      p {
        margin: 0 !important;
      }




    }

  }

  .dropdown {
    position: absolute;
    width: 93%;
    z-index: 10;
    margin-top: 5px;
    background: #FFFFFF;
    border: 1px solid #70B0FB;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 16px;
    max-height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }




    p {
      padding: 8px 16px;
      font-size: 18px;
      line-height: 120%;


      &:hover {
        background: #E9EDF2;
        border-radius: 20px;
      }
    }
  }
}